* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    background-image: url("file_00000000f36061f69a288b51c145c8d7.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 10%;
}
.outerCont {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    min-width: 300px;
    max-width: 450px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: rgba(255, 255, 255, 0.5) 0 0 10px;
    border: rgba(255, 255, 255, 0.5) 0.3px solid;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
.outerCont h4 {
    display: flex;
    margin-top: 50px;
    color: #ffffff;
    border: #ffffff 1px solid;
    border-radius: 999px;
    text-align: center;
    justify-content: center;
    width: 70px;
}

.outerCont .detailsCont {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 255, 255, 0.15); 
    box-shadow: rgba(255, 255, 255, 0.5) 0 0 5px;
    backdrop-filter: blur(100px);
    border: rgba(255, 255, 255, 0.5) 0.2px solid;
    border-radius: 10px;
    width: 80%;
    height: 250px;
    position: relative;
}
.input-box {
    height: 25px;
    margin: 10px;
    border-bottom: 0.5px white solid;
    border-radius: 2px;
    position: relative;


}
.input-box img {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 5px;
}
.input-box input {
    height: 100%;
    width: 90%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}
.input-box label {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 5px;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -10px;
}
#error-message {
    align-self: center;
    justify-self: center;
    color: red;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.remember-forgot {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
    justify-content: center;
}
.remember-forgot a{
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

.signinBtn {
    display: flex;
    justify-self: center;
    border: #ffffff 2px solid;
    border-radius: 999px;
    color: white;
    background-color: transparent;
    width: 70px;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: rgba(255, 255, 255, 0.5) 0 0 20px;
}
.signinBtn:hover{
    background-color: #0078d4;
    color: #ffffff;
    border: #2ca4ff 0.5px solid;
    box-shadow: rgb(66, 142, 255) 0 0 20px;
}
.register {
    position: absolute;
    right: 0;
    margin-right: 22px;
} 

.register a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}