*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100vh;
}
body{
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 12px;
  display: flex;
  color: #252525;
}
a {
  text-decoration: none; 
}
.parent{
  width: 100%;
  height: 100%;
  margin: 0;
}
.topbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(235, 235, 235);
  border-bottom: 2px solid grey;
  box-shadow: rgb(0,0,0,0.2) 0 4px 16px;
  z-index: 1000;
}
.topbar a{
  height: 25px;
  width: 25px;
  margin: 5px;
  background-color: transparent;
  text-decoration: none;
  align-items: center;
  justify-content: center;

}

.topbar h2{
  color: #0078d4;
  font-weight: bold;
}
.topbar img{
  height: 25px;
  width: 25px;
}
.topleft{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-card{
  background-color: rgba(230, 230, 230, 0.8);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 80px;
  padding-top: 50px;
  position: relative;
  margin:10px 15px;
}
.profile-picture{
  position: relative;
}
#profilePhoto{
  height: 130px;
  width: 130px;
  border: white 3px solid;
  box-shadow: rgb(0,0,0,0.25) 0 0 16px;
  border-radius: 50%;
  padding: 0;
}
.editBtn{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px 10px;
  border: none;
  background-color: white;
  color: black;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editBtn:hover{
  background-color: #0078d4;
  color: white;
}

#user-status{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
#statusId{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#statusIcon{
    height: 30px;
    width: 30px;
    margin-left: 2px;
}
.holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#verified-status{
    color: #444;
}
#pending-status{
    color: orange;
}
#rejected-status{
    color: red;
}
#re-upload{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.details{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5px;
  border-bottom: 3px solid grey;
  padding-bottom: 3px;
}
.user-address{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2px;
  align-items: center;
}
.my-address{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#ver-address{
  font-weight: bold;
}
.content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}

#exploreBtn{
  display: flex;
  padding: 8px 16px;
  border: 1.5px solid #0078d4;
  background-color: #0078d4;
  color: white;
  width: 50%;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: bold;
} #exploreBtn:hover{
  background-color: transparent;
  color: #0078d4;
  border: #0078d4 1.5px solid;
  transition: background 0.7s ease-in, 
              color 150ms ease,
              border 120ms ease-out;
}
#learnBtn{
  display: flex;
  padding: 8px 16px;
  border: 1.5px solid #444;
  background-color: rgb(0,0,0,0.2);
  color: #444;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
} #learnBtn:hover{
  background-color: #444;
  color: white;
  border: #444 1.5px solid;
  transition: background 120ms ease-in, 
              color 150ms ease,
              border 120ms ease-out;
}
#openmenu{
  background-color: rgb(180, 180, 180);
  padding: 5px;
  border-radius: 4px;
  border: none;
  padding: 0 8px;
  margin: 5px;
  cursor: pointer;
} #openmenu img{
  height: 30px;
  width: 30px;
  background-color: transparent;
}
.bottom-menu{
  display: none;
}
.menu-active{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: rgb(0,0,0,0.3) 0 -100px 100px;
}
.first-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}
.first-container h4{
  color: #0078d4;
  font-size: 1.2em;
  font-family: Poppins, sans-serif, Arial;
}
.first-container button{
  background-color: transparent;
  border: none;
}
.first-container img{
  height: 25px;
}
.makeProfile-changes{
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1.5px solid silver;
  border-radius: 12px;
  margin: 8px 0;
}
.photo-actions{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 10px;
  align-items: center;
  margin: 5px;
}
.content-icon{
  height: 20px;
  margin-right: 5px;
}
.photo-actions button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  padding: 4px 0;
}
#rightArrow{
  height: 15px;
}
.personal-changes{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.personal-changes p{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;

}
.personal-changes{
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1.5px solid silver;
  border-radius: 12px;
  margin: 8px 0;
}
.each-detail {
  padding: 0 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}
.each-detail p{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.12em;
  color: #000;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
  padding: 4px 0;
}
.personal-changes h4{
  display: flex;
  flex-direction: row;
  margin: 5px 20px;
  color: #0078d4;
}
